*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.center{
   position: relative; 
   width: 770px;
   left:-70px;
   perspective:1200px;
}
.center .img-card{
  position: relative; 
  height: 350px;
  width: 400px;
  transform-style: preserve-3d;
  
}
.img-card img{
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
}
.img-card img:nth-child(1){
    transform: rotate(-270deg) translateY(-175px); 
    transform-origin: top left;
}
.img-card img:nth-child(2){
   transform: translateY(175px);
   opacity: 0; 
}
.img-card img:nth-child(3){
    transform: rotate(-90deg) translateY(175px); 
    transform-origin: bottom center;
}
.img-card img:nth-child(4){
    transform: rotate(-180deg)  translateY(350px) translateZ(175px); 
    transform-origin: bottom right;
}
.sliders{
   position: absolute; 
   display: block;
   right: 0;
   top: -30px;
}
.sliders label{
    height: 98px;
    width: 110px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    margin:6px 0 ;
    border: 2px solid #2d4052;
}
label img{
height: 100%;
width: 100%;
object-fit: cover;
filter: grayscale(1);
opacity: .9;
}
label img:hover{
    filter: grayscale(0);
    opacity: 1;  
}